body{
    font-family: Raleway;
    color: #555;
    background: #f2c412;
}
#homepage{
    max-width: 800px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
input[type="text"]{
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
label{
    font-weight: bold;
}
.title{
    color: #fff;
    text-align: center;
    font-size: 48px;
}
#homepage h1{
    text-align: center;
}
form{
    max-width: 350px;
    margin: 30px auto;
}
input[type="submit"]{
    background: #2c3e50;
     color: #f1c40f;
     border: 0;
     padding: 10px;
     font-size: 18px;
     width: 200px;
     margin: 0 auto;
     display: block;
     cursor: pointer;
     border-radius: 4px;
 }
ul{
    margin: 0;
    padding: 0;
}
li{
    padding: 15px 0;
    background: #eee;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
}
span{
    display: inline-block;
    margin: 0 20px;
}

span.name{
  color: black;
  font-size: 100%
}

span.cartype{
  color: dimgray;
  font-size: 80%
}

span.dist{
    color: green;
    float: right;
}
span.true{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: green;
}
span.false{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #ff5252;
}
button{
    float: right;
    background: green;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
button.false{display: none;}

nav {
    width: 100%;
}
nav ul {
    font-family: 'Poiret One', cursive;
    background-color: #eee;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    width: 100%;
}
ul.topnavleft li {
    list-style: none;
    float: left;
    padding: 0;
}

ul.topnavleft li.topnavright {
    float: right;
    word-spacing: inherit;
}
 ul.topnavleft li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    color: darkslategrey;
}
 ul.topnavleft li a:hover {
    border-radius: 4px;
    background-color: #2c3e50;
    color: #f2c412;
}

 ul.topnavleft li.dropdownIcon {
    display: none;
}

footer{
  background-color: #2c3e50;
  color: #f2c412;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
}
label.foot{
  color: white;
}
